.vscode
*.iml
out/
*.ipr
*.iws
classpath.txt
.project
.classpath
lib/*
build/*
generated-files/*
generated-sources/*
generated-code/*
*.swp
*.swo
target
.idea
.lib
.pub
.packages
.vagrant/
.vscode/
*.mustache~
*.java~
*.pm~
*.xml~
*.t~
*.log
.gradle
/history

/target
/generated-files
